---
- name: Install mini-dinstall
  apt:
    name: "{{ item }}"
    cache_valid_time: 3600
  loop:
    - mini-dinstall
    - gnupg2

- name: "Create {{ minidinstall_user }} user"
  user:
    name: "{{ minidinstall_user }}"
    home: "{{ minidinstall_user_home }}"
    system: true
    shell: /bin/bash

- name: Create mini-dinstall directories
  file:
    state: directory
    path: "{{ item }}"
    owner: "{{ minidinstall_user }}"
    group: "{{ minidinstall_user }}"
    mode: 0755
  loop:
    - "{{ minidinstall_basedir }}"
    - "{{ minidinstall_user_home }}"
    - "{{ minidinstall_conf | dirname }}"

- name: Deploy ssh authorized keys
  authorized_key:
    user: "{{ minidinstall_user }}"
    manage_dir: true
    key: "{{ item }}"
  loop: "{{ minidinstall_sshkeys }}"

- name: Configure mini-dinstall
  template:
    src: mini-dinstall.conf.j2
    dest: "{{ minidinstall_conf }}"
    owner: "{{ minidinstall_user }}"
    group: "{{ minidinstall_user }}"
    mode: 0644

- name: Run mini-dinstall to create the tree in batch mode
  become: true
  become_user: "{{ minidinstall_user }}"
  shell: "mini-dinstall -c {{ minidinstall_conf}} -b"
  args:
    creates: "{{ minidinstall_basedir }}/mini-dinstall"
